* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .lgn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.lado1 {
    background-color: #011949;
    /* width: 306.48px;
    height: 267px; */
}

.texto-login{
    color: #fff;
    font-weight: 700;
}